body{
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #ffd700;
}

#clock {
   font-size: 3rem ;
   padding: 20px 40px;
   border-radius: 10px;
   background-color:#1a1a1a;
   box-shadow: 0 0 20px #00ffcc;
   color: #00ffcc;
   letter-spacing: 2px;
}
